  body {
font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background: #d2dc9d;
  text-align: center;
    }

a:visited {
    color: #d1633c;
}
a:focus, a:hover {
	color: #d1633c;
	background-color: #fff;
}
  h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
  }
  h2 {
    font: 1.5em "Anton";
    color: #d1633c;
    
  }
  footer {
    border-top: 1px solid #57b1dc;
    text-align: center;
    padding-top: 1em;
  }
